.Home {
  text-align: center;
  background-color: #fefefe;
}
.Col-container {
  background-color: #fefefe;
  text-align: center;
}
.Home img {
  margin-top: 2.3rem;
}
.title-container {
  text-align: center;
}
.title-container h3 span {
  display: block;
  text-transform: uppercase;
}
.title-container h3 span.arabic-lang {
  color: #000;
  font-size: 3rem;
  font-weight: bolder;
  margin: 2rem 0;
  text-align: center;
}
.title-container h3 span.english-lang {
  font-size: 2.5rem;
  text-align: center;
  padding: 1.5rem 2rem;
  text-transform: uppercase;
  background-color: #151a45;
  letter-spacing: 0.3rem;
  font-weight: 700;
  background-image: linear-gradient(
    rgba(34, 162, 255, 0.8),
    rgba(255, 255, 255, 1)
  );
  text-shadow: -1px 0 rgba(34, 162, 255, 0.5), 0 1px rgba(255, 255, 255, 1),
    1px 0 #22a2ff, 0 -1px #22a2ff;
  margin-bottom: 2rem;
}
p {
  color: #000;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-align: left;
  padding: 0 4rem;
  line-height: 3.5rem;
  vertical-align: middle;
}
.Home-col {
  flex: 50%;
  margin-top: 2.5rem;
  border: 1px solid lightgray;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}
.Home-col-sm {
  flex: 10%;
  margin: 2.5rem 0 4rem 0;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.Home-col-sm-1 {
  overflow: hidden;
}
.Home-col-sm img:hover {
  cursor: pointer;
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transition: 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -webkit-transition: 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -ms-transition: 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
.Posts-title {
  margin-top: 4rem;
}
